<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Just a basic note app to practice building things with Node/Express</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Take a note!</a>
</div>